<a href="https://colab.research.google.com/github/HannaShoukath/Demo/blob/main/unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
T1=()
print(T1)
T1=('Geeks','For')
print(T1)
T1=(0,1,2,3,4.5)
T2=('python','geek')
T3='python', #THE CREATION OF A PYTHON TUPLE WITHOUT THE USE OF PARANTHESES IS KNOWN AS TUPLE PACKING
print(type(T3))

()
('Geeks', 'For')
<class 'tuple'>

In [ ]:
t1=(1,2,3,4,5)
print(t1[0])
print(t1[-1])
print(t1[-3])

1
5
3

In [ ]:
print(T2[1])

geek

In [ ]:
d=True
r=False
y=true #boolean values are case sensitive hence true with small t will show an error
print(type(d))
print(type(r))
print(type(y))

NameError: name 'true' is not defined

In [ ]:
 s1={} #curly braces simply means that is a dictionary,{}show s that s1 is a dictionary with zero elements
 print(type(s1))
 s2=set(s1) #to create a set with zero elements use the in built function set() and pass the variable s1
print(type(s2))

<class 'dict'>
<class 'set'>

In [ ]:
s1={"geeksForGeeks",10,6,10}
print(s1)
b=["geeks","for","geeks"]
s1=set(b)
print(s1)
s2={1,2,'geeks',4,'for',6,'geeks'}
print(s2)

{10, 'geeksForGeeks', 6}
{'for', 'geeks'}
{1, 2, 'geeks', 4, 6, 'for'}

In [ ]:
s={"apple","banana","cherry"}
for x in s: # here the variable c accesses each value in the set t checks if its present and prints it
  print(x)
print("cherry" in s)   #in will give either true or false

cherry
banana
apple
True

In [ ]:
r={}
print(r)
r={1:'geeks',2:'for',3:'geeks'}
print(r)
r={'Name':'geeks',1:[1,2,3,4]}
print(r)
r=dict({1:'geeks',2:'for',3:'geeks'})
print(r)
d={'b':'sahana',2:8,'e':3.5,6:'sahana'}#here the calues are same but the key is diff so the output will show both the values
print(type(d))
print(d)
d={'b':'sahana',2:8,'e':3.5,'b':"safwan"}#as there are two same keys 'b' it will take only one
print(d)

{}
{1: 'geeks', 2: 'for', 3: 'geeks'}
{'Name': 'geeks', 1: [1, 2, 3, 4]}
{1: 'geeks', 2: 'for', 3: 'geeks'}
<class 'dict'>
{'b': 'sahana', 2: 8, 'e': 3.5, 6: 'safwan'}
{'b': 'safwan', 2: 8, 'e': 3.5}

In [ ]:
b={1:'geeks','name':'for',3:'geeks'}
print("accessing a element using key:")
print(b['name'])
print("accessing a element using get:")
print(b.get(3))

accessing a element using key:
for
accessing a element using get:
geeks

In [ ]:
c='python'
print(c)
print("welcome to python classes")
name="hanna"
age=21
print("name:",name, "age:",age)
print("name:",name, "\nage:",age)#\n is used to print the next content the new line

python
welcome to python classes
name: hanna age: 21
name: hanna
age: 21

In [ ]:
amount=150.7589
print("amount:${:.2f}".format(amount))#2f means after the decimal you want only two values,here format() is used to not only to print 2 values but also to round off
a=print("we have {:n} chicken." .format(49))#n is to print something in between the string
x=55
b=print("we have {:n} chicken." .format(x))
b=print("we have {:>} chicken." .format(x))
b=print("we have {:<} chicken." .format(x))
b=print("we have {:b} chicken." .format(x))#to convert to binary
r="my name is {fname},i'm {age}".format(fname="hanna",age=21)
print(r)
r="my name is {0},i'm {1} and i am from {2}" .format("hanna",21,"karwar")#directly giving values into format,so here we are giving the indexes
print(r)
r="my name is {0},i'm from {2} and i am {1}" .format("hanna",21,"karwar")#interchanging the index
print(r)
r="my name is {},i'm {} and i am from {}" .format("hanna",21,"karwar")#no indexes so it takes in the order we give the value

amount:$150.76
we have 49 chicken.
we have 55 chicken.
we have 55 chicken.
we have 55 chicken.
we have 110111 chicken.
my name is hanna,i'm 21
my name is hanna,i'm 21 and i am from karwar
my name is hanna,i'm from karwar and i am 21

In [ ]:
print('hanna',end="shoukath")#prints at the  end
print("geeksforgeeks")#it will not print in the next line because it has not assigned a variable ex: r=
print("\ngeeksforgeeks")#prints in next line

hannashoukathgeeksforgeeks

geeksforgeeks

In [ ]:
print('g','f','h',sep='  ') #seperates the values using various variables
print('g','f','h',sep='/')
print('03','12','2002',sep='-')
print('03','12','2002',sep='g')
print('03','12','2002',sep='7')

g  f  h
g/f/h
03-12-2002
03g12g2002
0371272002

In [ ]:
name='hanan'
age=16
print("hello,my name is {name} and i am {age} year old")
print(f"hello,my name is {name} and i am {age} year old")#the values can be give inside the sentence itself

hello,my name is {name} and i am {age} year old
hello,my name is hanan and i am 16 year old

In [ ]:
num=5
b=num+5
print("the sum is %d" %b)#integer
b=num+5.5
print("the sum is %f" %b)#float
num="hanna"
#b=num=5.2
print("the name is %s" %num)#string

the sum is 10
the sum is 10.500000
the name is hanna

In [ ]:
name=input("enter your name")
print("my name is {}".format(name))

enter your namehanna

In [ ]:
#2 inputs at same time
x,y=input("enter two values:").split()#split function differentiates the two inputs given here split is seperated by space
print("number of boys:",x)
print("number of girls:",y)
#3 inputs at the same time
x,y,z=input("enter two values:").split(",")#here split is seperated by comma
print("number of boys:",x)
print("number of girls:",y)
print("number of kids:",z)

enter two values:20 50
number of boys: 20
number of girls: 50
enter two values:20,50,30
number of boys: 20
number of girls: 50
number of kids: 30

In [ ]:
x,y=input("enter two values:").split(",")
z=x+y #it just concatenate the two numbers rather than  adding the two,because the input() takes the varibles as strings
print("the sum is:",z)
x,y=input("enter two values:").split(",")
z=x+y
c=int(x)#type casting is done here the type is converted from str to int
d=int(y)
z=c+d
print("the sum is:",z)

enter two values:10,20
the sum is: 1020
enter two values:10,20
the sum is: 30

In [ ]:
a,b,c=map(int,input("enter three integers seperated by spaces:").split())#the values given using input() will be converted to the datatype we specify by using the map()
print("sum:",a + b + c)#but in the map() function if one dtype is selected then the input should also be the given dtype here its integer
print(type(a))

enter three integers seperated by spaces:10 20 30
sum: 60
<class 'int'>

In [ ]:
a,b,c=map(float,input("enter three integers seperated by spaces:").split())#the values given using input() will be converted to the datatype we specify by using the map()
print("sum:",a + b + c)#but in the map() function if one dtype is selected then the input should also be the given dtype here its integer
print(type(a))
a,b,c=map(float,input("enter three integers seperated by spaces:").split())#the values given using input() will be converted to the datatype we specify by using the map()
print("sum:",a + b + c)#but in the map() function if one dtype is selected then the input should also be the given dtype here its float
print(type(a))

enter three integers seperated by spaces:20 50 20
sum: 90.0
<class 'float'>
enter three integers seperated by spaces:20.5 20.6 20.7
sum: 61.8
<class 'float'>

In [ ]:
#python keywords
import keyword# keyword is a module which has got many attributes ex: kwlist
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#MULTI WORD VARIABLE NAMES
#1 CAMEL CASE
myVariableName="Hanna"
#2 PASCAL CASE
MyVariableName="Shafna"
#3 SNAKE CASE
my_variable_name="Sneha"

In [ ]:
#is , is not
num1=5
num2=5
lst1=[1,2,3]
lst2=[1,2,3]
lst3=lst1
str1="hello world"
str2="hello world"
print(num1 is num2)
print(lst1 is lst2)
print(lst1 is lst3)
print(str1 is str2)
num1=5
num2=5
lst1=[1,2,3]
lst2=[1,2,3]
lst3=lst1
str1="hello world"
str2="hello world"
print(num1 is not num2)
print(lst1 is not lst2)
print(lst1 is not lst3)
print(str1 is not str2)

True
False
True
False
False
True
False
True

In [ ]:
#diff between '==' and 'is'
lst1=[1,2,3]
lst2=[1,2,3]
print(lst1 is lst2)
print(lst1==lst2)

False
True

In [ ]:
#in
"g" in "GeeksforGeeks"

False

In [ ]:
"Geeks"in ['Geeks','For','Geeks']

True

In [ ]:
dict1={1:'Geeks',2:'for',3:'Geeks'}
3 in dict1

True

In [ ]:
"Geeks" not   in ['Geeks','For','Geeks']

False

In [ ]:
#ARITHMETIC EXPRESSION
X=44
Y=55
Z=74
ADD=(X+Y)*Z
SUB=X-Y
print(ADD)
print(SUB)
#INTEGRAL EXPRESSIONS
A=13
B=5.0
C=A+int(B)
print(C)
#FLOATING EXPRESSION
M=13.0
N=6
L=M/N
print(L)
#RELATIONAL EXPRESSION
T=21
R=13
W=40
K=37
V=(T+R)>=(W-K)
print(V)
#LOGICAL EXPRESSIONS
P=(10==9)
Q=(7>5)
R= P and Q
S=P and Q
T= not P
print(R)
print(S)
print(T)
#BTIWISE EXPRESSIONS
A=12
X=A>>2
Y=A<<1
print(X,Y)
A=16
B=12
C=A+(B>>1)
print(C)

7326
-11
18
2.1666666666666665
True
False
False
True
3 24
22

In [ ]:
#PRACTICE QUESTIONS
result1=(5+2)*((3+7)//5)**2
print(result1)

result2=(7%3==1)and 6*2==12
print(result2)

result3= 7>3 and not(2<4 or 5==5)
print(result3)

result4=not 2**3==8
print(result4)

result5=6&4|3==2+1
print(result5)

result6=(4<5 and not 7==7)or(10>5 and 3*3==9)
print(result6)

result7=(5 is 5)==(10==10)
print(result7)

28
True
False
False
False
True
True

<>:20: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:20: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-16-495c12d04a60>:20: SyntaxWarning: "is" with a literal. Did you mean "=="?
  result7=(5 is 5)==(10==10)

In [ ]:
import math
a=int(input("ENTER THE VALUES OF a:"))
b=int(input("ENTER THE VALUES OF b:"))
c=int(input("ENTER THE VALUES OF c:"))
d=b*b-4*a*c
if d==0:
  root1=(-b)/(2*a)
  root2=root1
  print("ROOTS ARE REAL AND EQUAL,ROOT1=",root1,"ROOT2=",root2)
elif d>0:
  root1=(-b+math.sqrt(d))/(2*a)
  root2=(-b-math.sqrt(d))/(2*a)
  print("ROOTS ARE REAL AND DISTINCT,ROOT1=",root1,"ROOT2=",root2)
else:
  print("ROOTS ARE IMAGINARY")

ENTER THE VALUES OF a:1
ENTER THE VALUES OF b:0
ENTER THE VALUES OF c:0
ROOTS ARE REAL AND EQUAL,ROOT1= 0.0 ROOT2= 0.0

In [ ]:
m = int(input("enter the numbr of rows : "))
n = int(input("enter the number of columns : "))
matrix = []
print("enter values in matrix : ")
for i in range(m):
  data = []
  for j in range (n):
    data.append(int(input()))
  matrix.append(data)

for i in range(m):
  for j in range(n):
    print(matrix[i][j],end=" ")
  print()
for i in range(m):
  sum = 0
  for j in range(n):
    sum = sum+matrix[i][j]
  print("sum of row",i+1,":",sum)

enter the numbr of rows : 2
enter the number of columns : 3
enter values in matrix :
1
2
3
4
5
6
1 2 3
4 5 6
sum of row 1 : 6
sum of row 2 : 15

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
url='https://ibmice.s3.us-east-1.amazonaws.com/datasets/BostonHousingData.csv'
df = pd.read_csv(url)

In [2]:
x = df.drop(labels=['MEDV'], axis=1)
y = df['MEDV']

In [3]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [4]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=0)
X_train.shape, X_test.shape, X_train.shape[0]+X_test.shape[0]

((354, 13), (152, 13), 506)